:root {
    --cor1: #f6dbba;
    --cor2: #db604c;
    --cor3: #b13353;
    --cor4: #5e2052;
    --cor5: #74c99e;
    --cor6: #317c87;
    --cor7: #271854;
    --cor8: #1a1016;

    --cor9: #3a0000;
    --cor10: #590000;
    --cor11: #7c0300;
    --cor12: #c02b18;
    --cor13: #e04217;
    --cor14: #f26d1f;
    --cor15: #ff933a;
    --cor16: #ffce59;
}