@import "text-colors.css";
.text-cor1 {
    color: var(--cor1);
}

.text-cor2 {
    color: var(--cor2);
}

.text-cor3 {
    color: var(--cor3);
}

.text-cor4 {
    color: var(--cor4);
}

.text-cor5 {
    color: var(--cor5);
}

.text-cor6 {
    color: var(--cor6);
}

.text-cor7 {
    color: var(--cor7);
}

.text-cor8 {
    color: var(--cor8);
}

.text-cor9 {
    color: var(--cor9);
}

.text-cor10 {
    color: var(--cor10);
}

.text-cor11 {
    color: var(--cor11);
}

.text-cor12 {
    color: var(--cor12);
}

.text-cor13 {
    color: var(--cor13);
}

.text-cor14 {
    color: var(--cor14);
}

.text-cor15 {
    color: var(--cor15);
}

.text-cor16 {
    color: var(--cor16);
}

